---
layout: cv-def
---

<div class="home">
  <!-- Education -->
  <div class="col-md-4">
    <h1 class="page-heading">Education</h1>
    <ul class="post-list">
      {% for item in site.cv %}
        {% if item.category == 'education' %}
          <li>
            <span class="post-meta">{{ item.start-date | date: "%b %-d, %Y" }}</span>
            {% if item.end-date != null %}
              <span class="post-meta">{{ item.end-date | date: "%b %-d, %Y" }}</span>
            {% endif %}
            <h2>
              <span class="post-meta">{{ item.title }}</span>
              <p>{{ content }}</p>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <!-- Work experience -->
  <div class="col-md-4">
    <h1 class="page-heading">Work experience</h1>
    <ul class="post-list">
      {% for item in site.cv %}
        {% if item.category == 'skills' %}
          <li>
            <span class="post-meta">{{ item.start-date | date: "%b %-d, %Y" }}</span>
            {% if item.end-date != null %}
              <span class="post-meta">{{ item.end-date | date: "%b %-d, %Y" }}</span>
            {% endif %}
            <h2>
              <span class="post-meta">{{ item.title }}</span>
              <p>{{ content }}</p>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <!-- Skills -->
  <div class="col-md-4">
    <h1 class="page-heading">Skills</h1>
    <ul class="post-list">
      {% for item in site.cv %}
        {% if item.category == 'work' %}
          <li>
            <span class="post-meta">{{ item.start-date | date: "%b %-d, %Y" }}</span>
            {% if item.end-date != null %}
              <span class="post-meta">{{ item.end-date | date: "%b %-d, %Y" }}</span>
            {% endif %}
            <h2>
              <span class="post-meta">{{ item.title }}</span>
              <p>{{ content }}</p>
            </h2>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
