---
layout: default
---

<div class="home">
  <!-- Animation bit -->
  <div class='animation'>
    <div id="fullpage">
			<div class="section">

        <div class="time-circle">

          <div class="sun">
		      </div>

					<div class="moon">
		        <div></div>
		        <div></div>
		        <div></div>
		      </div>

					<div class="stars">
		        <div></div>
		        <div></div>
		        <div></div>
		        <div></div>
		        <div></div>
		        <div></div>
		        <div></div>
		      </div>

					<div class="water">
		      </div>

		    </div>

				<div id="snow">
				</div>
        
			</div>
		</div>
  </div>
  <!-- Main content bit -->
  <div class='main-content'>
    <!-- List of recent/current projects -->
    <div class="col-md-6">
      <h1 class="page-heading">Current projects</h1>
      <ul class="post-list">
        {% for post in site.posts %}
          {% if post.end-date == null and post.tag == 'post' %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- List of completed projects -->
    <div class="col-md-6">
      <h1 class="page-heading">Completed projects</h1>
      <ul class="post-list">
        {% for post in site.posts %}
        {% if post.end-date != null and post.tag == 'post' %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<script src="/assets/js/jquery-3.1.1.slim.min.js"></script>
<script src="/assets/js/animation.js"></script>
